<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/layout/header :: header"></div>
<body>
<!--프로필 섹션-->
<section class="profile">
	<!--유저정보 컨테이너-->
	<div class="profileContainer">

		<!--유저이미지-->
		<div class="profile-left">
			<th:block th:if="${userDetails.id} == ${pageUser.id}">
				<div class="profile-img-wrap story-border"
				     onclick="popup('.modal-image')">
					<form id="userProfileImageForm">
						<input type="file" name="profileImageFile" style="display: none;"
						       id="userProfileImageInput" />
					</form>
						<img class="profile-image" th:src="@{/api/image/(username=${pageUser.username},fileName=${pageUser.profileImage})}"
						     th:onerror="@{/images/non.jpg}" id="userProfileImage" />
				</div>
			</th:block>
			<th:block th:unless="${userDetails.id} == ${pageUser.id}">
			<div class="profile-img-wrap story-border">
				<img class="profile-image" th:src="@{/api/image(username=${pageUser.username},fileName=${pageUser.profileImage})}" th:onerror="@{/images/non.jpg}" id="userProfileImage" />
			</div>
			</th:block>
		</div>
		<!--유저이미지end-->

		<!--유저정보 및 사진등록 구독하기-->
		<div class="profile-right">
			<div class="name-group">
				<h2>[[${pageUser.name}]]</h2>
				<th:block th:if="${pageUser.id} == ${userDetails.id}">
				<button class="cta" th:onclick="'location.href=\''+ @{/board/upload}+'\';'">게시물 등록</button>
				</th:block>
				<th:block th:if="${pageUser.id} == ${userDetails.id}">
				</th:block>
				<th:block th:unless="${pageUser.id} == ${userDetails.id}">
					<th:block th:if="${followCheck} == 1">
						<button class="cta" th:onclick="|toggleSubscribe(this, ${userDetails.id}, ${pageUser.id})|">언팔로우</button>
					</th:block>
					<th:block th:if="${followCheck} == 0">
						<button class="cta" th:onclick="|toggleSubscribe(this, ${userDetails.id}, ${pageUser.id})|">팔로우</button>
					</th:block>
				</th:block>
				<button class="modi" onclick="popup('.modal-info')">
					<i class="fas fa-cog"></i>
				</button>
			</div>

			<div class="subscribe">
				<ul>
					<li><a href=""> 게시물<span>[[${boardSize}]]</span>
					</a></li>
					<li><a th:href="|javascript:subscribeInfoModalOpen(${pageUser.id}, ${userDetails.id});|"> 팔로우<span>[[${subscribeSize}]]</span>
					</a></li>
				</ul>
			</div>
			<div class="state">
				<h4>[[${userDetails.bio}]]</h4>
				<h4>[[${userDetails.website}]]</h4>
			</div>
		</div>
		<!--유저정보 및 사진등록 구독하기-->

	</div>
</section>

<!--게시물컨섹션-->
<section id="tab-content">
	<!--게시물컨컨테이너-->
	<div class="profileContainer" id="boardContainer">
		<!--그냥 감싸는 div (지우면이미지커짐)-->
		<div id="tab-1-content" class="tab-content-item show">
			<!--게시물컨 그리드배열-->
			<div class="tab-1-content-inner">
				<th:block th:each="board : ${boardList}">
					<div class="img-box">
						<a href=""> <img th:src="@{${'/api/board/image/?username=' + board.user.username + '&fileName=' + board.imageUrl + '&boardId=' + board.id}}" />
						</a>
						<div class="comment">
							<a href="#" class=""> <i class="fas fa-heart"></i><span>[[${board.likesList.size}]]</span>
								<i class="fas fa-comment"></i><span id="commentIcon">[[${board.replyList.size}]]</span>
							</a>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</div>
</section>

<!--로그아웃, 회원정보변경 모달-->
<div class="modal-info" onclick="modalInfo()">
	<div class="modal">
		<button onclick="location.href='/user/update'">회원정보 변경</button>
		<button onclick="location.href='/logout'">로그아웃</button>
		<button onclick="closePopup('.modal-info')">취소</button>
	</div>
</div>
<!--로그아웃, 회원정보변경 모달 end-->

<!--프로필사진 바꾸기 모달-->
<div class="modal-image" onclick="modalImage()">
	<div class="modal">
		<p>프로필 사진 바꾸기</p>
		<button th:onclick="profileImageUpload([[${userDetails.id}]])">사진 업로드</button>
		<button onclick="closePopup('.modal-image')">취소</button>
	</div>
</div>

<!--프로필사진 바꾸기 모달end-->

<div class="modal-subscribe">
	<div class="subscribe">
		<div class="subscribe-header">
			<span>팔로우</span>
			<button onclick="modalClose()">
				<i class="fas fa-times"></i>
			</button>
		</div>
		<div class="subscribe-list" id="subscribeModalList">
		</div>
	</div>
</div>
<script type="text/javascript" th:src="@{/js/profile.js}"></script>
</body>
<div th:replace="/layout/footer :: footer"></div>
</html>